@model IEnumerable<CoolBooks_NinjaExperts.Models.FlaggedReviews>


@{
    ViewData["Title"] = "Manage Reviews";
}

<h1>
    <p class="bi bi-flag" style="color:red"> Reviews</p>
</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.User.Id) 
            </th> *@

             <th>
                Flagged By:
            </th>
            <th>
                Flagged Review ID:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.Title) @*FlaggedReviewTITLE*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.Text) @*FlaggedContent*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>*@
             <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Review.Text)
            </td>
          
            <td>
                <form>
                    <input type="hidden" name="reviewId" value="@item.Review.Id">
                    <input type="hidden" name="userId" value="@item.User.Id">
                    <button class="btn btn-success" type="submit" asp-controller="ManageContent" asp-action="UnFlagReview">UnFlag</button>
                </form>
                <form>
                    <input type="hidden" name="reviewId" value="@item.Review.Id">
                    <input type="hidden" name="userId" value="@item.User.Id">
                    <button class="btn btn-warning" type="submit" asp-controller="ManageContent" asp-action="BlockReview">Block</button>
                </form>
                <form>
                    <input type="hidden" name="reviewId" value="@item.Review.Id">
                    <input type="hidden" name="userId" value="@item.User.Id">
                    <button class="btn btn-danger" type="submit" asp-controller="ManageContent" asp-action="DeleteReview">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
@*
<partial name="_PageSelect"/> *@