@model CoolBooks_NinjaExperts.ViewModels.MostFlagged_Reviews_ViewModel


@{
    ViewData["Title"] = "Manage Comments";
}
<nav class="mt-5 d-flex justify-content-lg-center">

    @Html.ActionLink("Newest", "FlaggedReviews","ManageContent", 
                                                    new{ orderby="Newest" }, // values
                                                    new{ @class="m-3 btn btn-outline-dark"})

    @Html.ActionLink("Most Flagged", "FlaggedReviews","ManageContent", 
                                                    new{ orderby="MostFlagged" }, // values
                                                    new{ @class="m-3 btn btn-outline-dark"})

    @Html.ActionLink("Default", "FlaggedReviews","ManageContent", 
                                                    new{ orderby="" }, // values
                                                    new{ @class="m-3 btn btn-outline-dark"})

</nav>
<table class="table">
    <thead>
        <tr>
            <th new class="bi bi-flag" style="color:Red;">
                Total Flags:
            </th> 
            <th>
                Flagged Review ID:
            </th>
              <th>
                Review Title:
            </th>
            <th>
                Review Text:
            </th>
             <th>
                Comment Created:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i<Model.MostFlagged.Count(); i++) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.TotalFlags[i])
            </td>
             <td>
                @Html.DisplayFor(modelItem => Model.MostFlagged[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Reviews[i].Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Reviews[i].Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Reviews[i].Created)
            </td>


            <td>
                <form>
                    <input type="hidden" name="ReviewId" value="@Model.Reviews[i].Id">
                    <button class="btn btn-success" type="submit" asp-controller="ManageContent" asp-action="UnFlagReview">UnFlag</button>
                </form>
                <form>
                    <input type="hidden" name="ReviewId" value="@Model.Reviews[i].Id">
                    <button class="btn btn-warning" type="submit" asp-controller="ManageContent" asp-action="BlockReview">Block</button>
                </form>
                <form>
                    <input type="hidden" name="ReviewId" value="@Model.Reviews[i].Id">
                    <button class="btn btn-danger" type="submit" asp-controller="ManageContent" asp-action="DeleteReview">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
@*
<partial name="_PageSelect"/> *@