@model CoolBooks_NinjaExperts.ViewModels.PlayQuizViewModel

@{
    ViewData["Title"] = "Index";
}

   
<form asp-action="Test" asp-Controller="Quiz" method="post">
<table class="table">
        @{
            var i = 0;
        }
        @foreach (var opt in @Model.Quiz.Questions)
        {
            <tr>
                <td>@opt.Id</td>
                <td>
                    <h5>@opt.Question</h5>
                    @for(int j = 0; j< @opt.QuizOptions.Count(); j++)
                    {
                        <input type="radio" name="result[@i]" value="@opt.QuizOptions[j].Id,@opt.QuizOptions[j].Option"> @opt.QuizOptions[j].Option<br/>
              
                    <br/>
                    }
                    <label name="@opt.Id" class="radio" style="display:none; color:mediumseagreen; font:bold;">The answer is: @opt.Answer</label>
                </td>
     
            </tr>
            i++; 
        }
        </table>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>

<label id="useranswer"></label>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
}


    
