@*@model CoolBooks_NinjaExperts.ViewModels.DataPoint;*@
@model CoolBooks_NinjaExperts.ViewModels.ShowStatisticsViewModel;

@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Statistics</h1>

<!DOCTYPE HTML>
<html>
<head>
<script>
	window.onload = function () {
 
	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		theme: "light2", //Other themes: "light1", "dark1", "dark2"
		exportEnabled: true,
		title: {
			text: "Summary of total comments"
		},
		data: [{
			type: "column",
			dataPoints:  @Html.Raw(ViewBag.DataPoints)
		}]
	});
	chart.render();
 
	}

</script>
</head>
<body>

	@*@Html.ActionLink("Summary", "DailyAndWeeklyComments", "Statistics")*@
	
	<form asp-action="CreateGenreGraph">
		<label for="genre">Choose a genre: </label>
		<select name="genre">
		@foreach (var genre in Model.Genres)
		{
			@*<input type="hidden" asp-for="@genre.Id"/>*@
			<option value="@genre.Name">@genre.Name</option>
		}
		</select>
		<input type="submit" name="chosenGenre" value="Run">
	</form>

	<form asp-action="CreateAuthorGraph">
		<label for="author">Choose an author: </label>
		<select name="author">
		@foreach (var author in Model.Authors)
		{
			<option value="@author.FullName">@author.FullName</option>
		}
		</select>
		<input type="submit" name="chosenAuthor" value="Run">
	</form>
	
	<div id="chartContainer" style="height: 370px; width: 100%;"></div>

	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
</body>
</html>
