@model CoolBooks_NinjaExperts.Models.Books

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5 d-flex flex-row">
        <div class="col-md-4 mb-10">
            @{
                var baseThumb = Convert.ToBase64String(Model.Image.Image);
                var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
            }
            <img src="@imgsrc2" style="width:400px; height:550px;">
        </div>
        <div class="col-md-6" style="padding-left: 15px;">
            <div class="small mb-1">
                @{
                for(int i = 0;  i < Model.Genres.Count(); i++)
                    {
                        if (i == Model.Genres.Count()-1)
                        {
                            <a class="text-dark" asp-controller="Genres" asp-action="Details" asp-route-id="@Model.Genres[i].Id" style="text-decoration: none">@Model.Genres[i].Name</a>
                        }
                        else
                        {
                            <a class="text-dark" asp-controller="Genres" asp-action="Details" asp-route-id="@Model.Genres[i].Id" style="text-decoration: none">@Model.Genres[i].Name | </a>
                        }
                    }
                }
            </div>
            <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.Title)</h1>
            <div class="fs-5 mb-5">

                <span>
                    @{
                        for(int i = 0;  i < Model.Authors.Count(); i++)
                            {
                                if (i == Model.Authors.Count()-1)
                                {
                                    <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@Model.Authors[i].Id" style="text-decoration: none">@Model.Authors[i].FullName</a>
                                }
                                else
                                {
                                    <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@Model.Authors[i].Id" style="text-decoration: none">@Model.Authors[i].FullName & </a>
                                }
                            }
                    }
                </span><br />
                <span>ISBN: @Html.DisplayFor(model => Model.ISBN)</span>
                                
                <div class="d-flex small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
            </div>
            <p class="lead">@Html.DisplayFor(model => Model.Description)</p>
        </div>   
    </div>
</section>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
    <a asp-action="Index">Back to List</a>
    }
</div>
