@model CoolBooks_NinjaExperts.ViewModels.CreateBookViewModel

@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager





@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>

@if (SignInManager.IsSignedIn(User))
{
	if (User.IsInRole("Admin"))
	{
        <p>
            <a asp-action="Create">Create New</a>
        </p>
	}
	else
	{
	}
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort })
            </th>
            <th>
                @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSort })
            </th>
             <th>
                @Html.ActionLink("Genre", "Index", new { sortOrder = ViewBag.GenreSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Image)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Book.Description)
            </th>
             <th>
               @Html.ActionLink("Rating", "Index", new { sortOrder = ViewBag.RatingSort })
            </th>
            <th>
               @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedSort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books) 
    {
        <tr>
            <td>
                @Html.DisplayFor(model => book.Title)
            </td>
             <td>
            @foreach(var author in book.Authors)
                { 
                  @Html.DisplayFor(book => author.FullName) 
                  <p></p>
                }
                </td>
                <td>
            @foreach(var genres in book.Genres)
                {
                   @Html.DisplayFor(book => genres.Name) 
                   <p></p>
                }
                </td>
            <td>
                @{
                    var baseThumb = Convert.ToBase64String(book.Image.Thumbnail);
                    var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
                }
                <img src="@imgsrc2">
            </td>
            <td>
                @Html.DisplayFor(model => book.Description)
            </td>
            <td>
                @Html.DisplayFor(model => book.Rating)
            </td>
            <td>
                @Html.DisplayFor(model => book.Created)
            </td>

            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("Admin"))
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@book.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@book.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                 </td>
                 }
                else if (User.IsInRole("Moderator"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@book.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@book.Id">Details</a> |
                    </td>
                }
                else if(User.IsInRole("User"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@book.Id">Details</a>
                    </td>
                }
           }
        </tr>
    }
    </tbody>
</table>
