@model CoolBooks_NinjaExperts.ViewModel.AuthorBooksViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>

    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSort })
            </th>
            <th>
                @Html.ActionLink("Serie", "Index", new { sortOrder = ViewBag.SerieSort })
            </th>
            <th>
                <p>Test</p>
            </th>
            <th>
                <p>Test</p>
            </th>
            <th>
               @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedSort })
            </th>
            <th>
               <p>Test</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var books in Model.Books) {
            
            <tr>
            <td>
                @Html.DisplayFor(modelItem => books.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => books.BookSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => books.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => books.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => books.Created)
            </td>
            @foreach (var authors in Model.Authors){
            <td>
                @Html.DisplayFor(modelItem => authors.FullName)
            </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@books.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@books.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@books.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
