@model CoolBooks_NinjaExperts.ViewModels.DisplayBooksViewModel


@{
    ViewData["Title"] = "Home Page";
}


<nav class="mt-5 d-flex justify-content-lg-center">

    @Html.ActionLink("Newest", "Index","Home", 
                                                    new{ orderby="Newest", sortOrder = ViewBag.OrderBy}, // values
                                                    new{ @class="m-3 btn btn-outline-dark"})

    @Html.ActionLink("Top Rated", "Index","Home", 
                                                    new{ orderby="TopRated", sortOrder = ViewBag.OrderBy}, // values
                                                    new{ @class="m-3 btn btn-outline-dark"})

    @Html.ActionLink("A-Z", "Index","Home", 
                                                    new{ orderby="Alphabetical", sortOrder = ViewBag.OrderBy}, // values
                                                    new{ @class="m-3 btn btn-outline-dark"})

</nav>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            
                      
             @foreach(var rndmBook in Model.RandomBooks)
             {
                    <div class="col-md-4 mb-10">
                   @{
                        var baseThumb = Convert.ToBase64String(rndmBook.Image.Image);
                        var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
                    }
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@rndmBook.Id">
                        <img src="@imgsrc2" style="width:400px; height:550px;">
                        </a> 
             
                    </div>
                    <div class="col-md-6">
                        <div class="small mb-1">
                        @{
                            for(int i = 0;  i < rndmBook.Genres.Count(); i++)
                            {
                                if (i == rndmBook.Genres.Count()-1)
                                {
                                    <a class="text-dark" asp-controller="Genres" asp-action="Details" asp-route-id="@rndmBook.Genres[i].Id" style="text-decoration: none">@rndmBook.Genres[i].Name</a>
                                }
                                else
                                {
                                    <a class="text-dark" asp-controller="Genres" asp-action="Details" asp-route-id="@rndmBook.Genres[i].Id" style="text-decoration: none">@rndmBook.Genres[i].Name | </a>
                                }
                            }
                            }
                        </div>
                            <h1 class="display-5 fw-bolder">
                                <a class="text-dark" asp-controller="Books" asp-action="Details" asp-route-id="@rndmBook.Id" style="text-decoration:none; important!" >
                                    @rndmBook.Title
                                </a>
                            </h1>
                                <div class="fs-5 mb-5">
                        <span>@{
                               for(int i = 0;  i < rndmBook.Authors.Count(); i++)
                                {
                                    if (i == rndmBook.Authors.Count()-1)
                                    {
                                        <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@rndmBook.Authors[i].Id" style="text-decoration: none">@rndmBook.Authors[i].FullName</a>
                                    }
                                    else
                                    {
                                        <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@rndmBook.Authors[i].Id" style="text-decoration: none">@rndmBook.Authors[i].FullName & </a>
                                    }
                                }
                                }
                                </span><br />
                                    <span>@rndmBook.ISBN</span>
                                
                                     @if(rndmBook.Rating != null)
                                   {
                                    <div>
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (rndmBook.Rating > i)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }
                                    </div>
                                        }
                                else
                                {
                                    <p>Unrated</p>
                                }
                                
                    </div>
                            <p class="lead">@rndmBook.Description</p>
                    </div> 
           }
            
        </div>
    </div>
</section>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

           @foreach(var book in Model.Books)
           {
             <div class="col mb-5">
                <div class="h-100">
                    @{
                    var baseThumb = Convert.ToBase64String(book.Image.Thumbnail);
                    var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
                    }
                <a class="text-dark" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" style="text-decoration:none; important!" >
                <img  class="card-img-top" src="@imgsrc2">
                
                    
                        <div class="card-body p-4">
                            <div class="text-center">
                            <h5 class="fw-bolder">@book.Title</h5>
                            @{
                            <h6>
                                
                                @for(int i = 0;  i < book.Authors.Count(); i++)
                                {
                                    if (i == book.Authors.Count()-1)
                                    {
                                        <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@book.Authors[i].Id" style="text-decoration: none">@book.Authors[i].FullName</a>
                                    }
                                    else
                                    {
                                        <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@book.Authors[i].Id" style="text-decoration: none">@book.Authors[i].FullName & </a>
                                    }
                                }
                                
                                </h6>
                                @if(book.Rating != null)
                                   {
                                    <div>
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (book.Rating > i)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }
                                            </div>
                                        }
                                else
                                {
                                    <p>Unrated</p>
                                }
                                        
                                
                                }
                            </div>
                        </div>
                        </a>
                </div>
            </div>

            }





        </div>
    </div>
</section>

<partial name="_PageSelect"/> 