@model CoolBooks_NinjaExperts.Models.Authors

@{
    ViewData["Title"] = "Details";
}
 @using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5 d-flex flex-row">
        <div class="col-md-4 mb-10">
            @{
                var baseThumb = Convert.ToBase64String(Model.Image.Image);
                var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
            }
            <img src="@imgsrc2" style="width:400px; height:550px;">
        </div>
        <div class="col-md-6" style="padding-left: 15px;">
            <h1 class="display-5 fw-bolder">@Model.FullName</h1>
            <div class="fs-5 mb-5">
            <p class="lead">@Html.DisplayFor(model => Model.Biography)</p>
        </div>   
    </div>
</section>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit | </a>
            
            <a asp-action="Index">Back to List </a>
        }
    }
    
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

           @foreach(var book in Model.Books)
           {
             <div class="col mb-5">
                <div class="h-100">
                    @{
                    var baseThumb1 = Convert.ToBase64String(book.Image.Thumbnail);
                    var imgsrc = string.Format("data:image/thumbnail;base64,{0}", baseThumb1);
                    }
                <a class="text-dark" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" style="text-decoration:none; important!" >
                <img  class="card-img-top" src="@imgsrc">
                        <div class="card-body p-4">
                            <div class="text-center">
                            <h5 class="fw-bolder">@book.Title</h5>
                            <h6>
                                @{
                                for(int i = 0;  i < book.Authors.Count(); i++)
                                {
                                    if (i == book.Authors.Count()-1)
                                    {
                                        <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@book.Authors[i].Id" style="text-decoration: none">@book.Authors[i].FullName</a>
                                    }
                                    else
                                    {
                                        <a class="text-dark" asp-controller="Authors" asp-action="Details" asp-route-id="@book.Authors[i].Id" style="text-decoration: none">@book.Authors[i].FullName & </a>
                                    }
                                }
                                }
                                </h6>
                                <div class="d-flex justify-content-center small mb-2">
                                   @for (int i = 0; i < 5; i++)
                                        {
                                            if (book.Rating > i)
                                            {
                                                <span class="fa fa-star checked"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                        </a>
                </div>
            </div>

            }





        </div>
    </div>
</section>