@model CoolBooks_NinjaExperts.Models.Lists

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.ListName</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Book Title
            </th>
            <th>
                Author
            </th>
             <th>
                Genres
            </th>
            <th>
                Image
            </th>
             <th>
                Desc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books) 
    {
        <tr>
            <td>
                @Html.DisplayFor(model => book.Title)
            </td>
             <td>
            @foreach(var author in book.Authors)
                { 
                  @Html.DisplayFor(book => author.FullName) 
                  <p></p>
                }
                </td>
                <td>
            @foreach(var genres in book.Genres)
                {
                   @Html.DisplayFor(book => genres.Name) 
                   <p></p>
                }
                </td>
            <td>
                @{
                    var baseThumb = Convert.ToBase64String(book.Image.Thumbnail);
                    var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
                }
                    <a class="text-dark" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" style="text-decoration:none; important!" />
                <img src="@imgsrc2">
            </td>
            <td>
                @Html.DisplayFor(model => book.Description)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveBookFromList", "Lists", new{listId=Model.Id, bookId=book.Id})
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">Reviews</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-controller="Contributions" asp-action="MyLists">Back to List</a>
</div>
