@model CoolBooks_NinjaExperts.ViewModels.ContributionPostsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Lists</h1>
<p>
    <a asp-controller="Lists" asp-action="Create">Create New List</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.List.ListName)
            </th>
            <th>
                # of books
            </th>
            <th>
                @Html.DisplayNameFor(model => model.List.Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lists) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListName)
            </td>
            <th>
                @*# of books*@
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-controller="Lists" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Lists" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Lists" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
