@model IEnumerable<CoolBooks_NinjaExperts.Models.Images>
@using Microsoft.AspNetCore.Identity
@using CoolBooks_NinjaExperts.Areas.Identity.Data

@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Images</h1>

@if (SignInManager.IsSignedIn(User))
{
	if (User.IsInRole("Admin"))
	{
        <p>
            <a asp-action="Create">Create New</a>
        </p>
	}
	else
	{
	}
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgsrc">
            </td>
            <td>
                    @{
                        var baseThumb = Convert.ToBase64String(item.Thumbnail);
                        var imgsrc2 = string.Format("data:image/thumbnail;base64,{0}", baseThumb);
                    }
                    <img src="@imgsrc2">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
